node_modules
**/node_modules
.pnpm-store
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
.git
.gitignore
.github
.husky
.vscode
.idea
.DS_Store
.env
.env.*
!.env.example
**/__tests__
**/*.test.ts
**/*.spec.ts
**/*.test.tsx
**/*.spec.tsx
jfpTestCases
apps/extension/dist