:root {
  --black-200: #2e2e32;
  --black-700: #16171d;
  --black-800: #14121a;
  --white-900: #fff;
  --white-700: rgb(255 255 255 / 70%);
  /* stylelint-disable-next-line declaration-block-no-duplicate-custom-properties */
  --white-700: color-mix(in oklab, #fff 70%, transparent);
  --grey-300: #65758529;
  --grey-500: #98989f;
  --grey-700: #3b3440;
  --blue-400: #5cabe9;
  --blue-500: #06b6d4;
  --blue-700: #22262d;
  --red-600: #f14158;
  --red-700: #b00d22;
  --red-800: #2d1722;
  --green-300: #22ff73;
  --green-400: #4ade80;
  --green-430: #1a5433;
  --green-450: #183829;
  --green-500: #004218;
  --green-600: #66ba1c;
  --yellow-400: #facc15;
  --yellow-500: #554516;
  --yellow-600: #383019;
  --border-radius: 0.5rem;
  --spacing: 0.25rem;
  --heading-font: 'Space Grotesk', sans-serif;
  --secondary-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
}

/* primary text color is --white-900
 secondary text color is  --white-700
 use spacing * integer for gaps,padding
 border color is --grey-700 */
