:root {
  --black-200: #2e2e32;
  --black-700: #16171d;
  --black-800: #14121a;
  --white-900: #fff;
  --white-700: color-mix(in oklab, #fff 70%, transparent);
  --grey-500: #98989f;
  --grey-700: #3b3440;
  --blue-500: #06b6d4;
  --border-radius: 8px;
  --gap: 8px;
  --heading-font: 'Space Grotesk', sans-serif;
  --secondary-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
}
