.wrapper {
  background-color: var(--black-700);
  border: 1px solid var(--grey-700);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 4);
}

.editorWrapper {
  background-color: var(--black-700);
  border: 1px solid var(--grey-700);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 4);
}

.editRow {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
