.container {
  background-color: var(--black-700);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 5);
  height: 100vh;
  padding: 3rem 0;
  width: 100%;
}

.heading {
  color: var(--white-900);
  font-family: var(--heading-font, 'Space Grotesk', sans-serif);
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.signUp {
  text-align: center;
  width: 100%;
}

.signUp > p {
  color: var(--white-700);
  font-size: 0.75rem;
  margin-bottom: calc(var(--spacing) * 3);
}

.orDiv {
  align-items: center;
  display: flex;
  margin-top: calc(var(--spacing) * 5);
}

.orDiv > div {
  background-color: var(--white-700);
  flex: 1;
  height: 1px;
}

.orDiv > span {
  color: var(--white-700);
  font-size: 0.75rem;
  padding: 0 1em;
}

.error {
  color: var(--red-700);
  font-size: 1rem;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 5);
  margin: 0 auto;
  max-width: 20rem;
}

.form > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  width: 100%;
}

.buttonGroup {
  flex-direction: row !important;
  justify-content: center;
}
